/* For styling the rendered Markdown */

body {
	background-color: transparent;
	color: #524937;
	font-size: 16px;
	font-family: "SF Pro";
}

#rendered-md {
	padding:15px 35px;
}

h1 {
	color: #004080;
	border-bottom: none;
	padding: 0px;
	font-size: 2em;
}

h2 {
	color: #0A96C2;
	border-bottom: 1px solid #0A96C2;
	margin-top: 2em;
}

th {
	display: none;
}
